body{
  background-color: black;
  color: aliceblue;

}
h1{
  margin-top: 15%;
  margin-left: 45%;
  position: absolute;
}

button{
  margin-top: 20%;
  margin-left: 45%;
  position: absolute;
  font-weight: boldercd;
  background-color: chartreuse;
}